<style>

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper { 
  overflow:hidden;
}

.wrapper div {
   min-height: 600px;
   padding: 10px;
}

#map{
  float:left; 
  margin-right:10px;
  width: 70%;
  height: 100%;
}

#list  { 
  float:left;
  width: 29%;
  overflow:hidden;
}
#list h1 {
  padding: 10px;
}

#myTable2 th {
  background-color: #e0e0e0;
}

#myTable2 tr {
  height: 40px;
}

#myTable2 td {
  padding: 10px;
}

.atmDistance, .atmImage {
  width: 100px;
  text-align: center;
}

.atmImage img {
  width: 100px;
  height: 100px;
  border: solid 1px gray;
}
@media screen and (max-width: 320px) {
   #list {
    font-size:30px;   
    float: none;
    margin-right:0;
    width:100%;
    border:0; 
  }
}

    </style>